

.profile-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top:50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .profile-info {
    margin: 15px;
  }
  
  .profile-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-info p {
    font-size: 18px;
    margin: 8px 0;
  }
  
  .loading-text {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }
  